[class*="col-"] {
 background-color: #FFC0CB;
 height: 150px;
 border: 1px solid black;
 text-align: center;
 line-height: 150px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container_nested {
  margin: 15px;
}

.nested {
  height: 120px;
  line-height: 120px;
  background-color: #F07F80;
  border: 1px solid #FFFFFF;
}
